* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style  */


/* Header Style */
header {
    max-width: 1200px;
    margin: 1.4rem auto;
}

/* nav bar related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .ham-burger {
    display: none;
}

nav .logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.navlinks {
    display: flex;
    margin: 8px 0;
    gap: 2.1rem;
    align-items: center;
}

.navlink {
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
}


/* Banner section related styles */
.banner{
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 36rem;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-description{
    font-weight: 600;
    margin: 1rem 0;
}
.banner-btn{
    background-color: #E02C6D;
    padding: 10px 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 2.5rem;
    border: none;
    color: white;
    width: max-content;
}

.banner-img-container{
    background-image: url(./images/Circle\ design.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-img{
    width: 100%;
}

/* Company section related styles */
.company{
    max-width: 1100px;
    margin: 3.75rem auto;
    border-image: linear-gradient(to right, #C0CCDA 10%, #C0CCDA 60% , #C0CCDA 10%) 1;
    border-style: solid;
}
.company-logos{
    padding: 10px  10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Mobail devices */
@media screen and (max-width:576px) {

    .search-link,
    .login-link,
    .sign-up-link,
    .products-link,
    .home-link {
        display: none;
    }
    nav{
        justify-content: space-around;
    }

    nav .ham-burger{
        display: block;
    }

    /* banner */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
    }
    /* company related */
    .company-logos{
        padding: 10px  10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: space-around;
    }
}


/* Tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .search-link,
    .login-link,
    .sign-up-link,
    .products-link,
    .home-link {
        display: flex;
    }


    nav .logo{
        font-size: 1.25rem;
    }

    .navlinks {
        display: flex;
        margin: 8px 0;
        gap: 1.1rem;
        align-items: center;
    }

    /* Banner  */
    .banner-content{
        width: 60%;
    }
    .banner-content{
        text-align: center;
    }

    /* Company related */
    .company-logos{
        padding: 10px  10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: space-between;
    }
}