* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style  */


/* Header Style */
header {
    max-width: 1200px;
    margin: 1.4rem auto;
}

/* nav bar related styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .ham-burger {
    display: none;
}

nav .logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.navlinks {
    display: flex;
    margin: 8px 0;
    gap: 2.1rem;
    align-items: center;
}

.navlink {
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
}



/* Mobail devices */
@media screen and (max-width:576px) {

    .search-link,
    .login-link,
    .sign-up-link,
    .products-link,
    .home-link {
        display: none;
    }

    nav .ham-burger{
        display: block;
    }
}


/* Tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .search-link,
    .login-link,
    .sign-up-link,
    .products-link,
    .home-link {
        display: flex;
    }

    nav .logo{
        font-size: 1.25rem;
    }

    .navlinks {
        display: flex;
        margin: 8px 0;
        gap: 1.1rem;
        align-items: center;
    }
}